/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #4A90E2;
  --color-primary-dark: #357ABD;
  --color-primary-darker: #1C2632;
  --color-primary-verylight: #E5F0FA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C2632;
    --foreground: #ededed;
    --color-primary: #4A90E2;
    --color-primary-dark: #357ABD;
    --color-primary-darker: #1C2632;
    --color-primary-verylight: #E5F0FA;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
  background: var(--color-primary);
  color: #FFF;

  &:not(:disabled):hover {
    background: var(--color-primary-dark);
  }

  &:not(:disabled):active {
    background: var(--color-primary-darker);
  }
}

.btn {
  font-size: inherit;
  cursor: pointer;
  transition: background 300ms;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-neutral {
  background: var(--color-primary-lighter);
  color: #000;

  &:not(:disabled):hover {
    background: rgb(138, 157, 178);
  }

  &:not(:disabled):active {
    background: rgb(106, 125, 146);
  }
}
